.nav-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  cursor: pointer;
}

.navText {
  font-weight: bolder;
  font-size: 1.4rem;
  color: #00a7e1;
}

.navItems {
  display: flex;
  align-items: center;
  column-gap: 44px;
}

.navItem {
  font-size: 0.9rem;
  color: #00a7e1;
  text-decoration: none;
}

.navItem:hover {
  color: #1e263c;
  cursor: pointer;
}

.hamburger {
  display: none; /* Hide by default */
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navItems {
    display: none;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navItems.showMenu {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
